<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Sample for GoogleAppEngine with Flask</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-1.11.1.min.js') }}"/>
  <script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.min.js') }}"/>
  <link rel="shortcut icon" href="{{ url_for('static', filename='res/img/favicon.ico') }}">
</head>
<body>
  <div id="header">
    <h1>Your Very First AppEngine</h1>
  </div>
  {% block body_container %}
  {% endblock %}
</body>
</html>